  <!-- Sidebar -->
    <aside class="menu">
      <div class="profile-container">
        <img src="../img/user.png" alt="User" class="profile-pic">
        <div class="profile-info">
          <p class="profile-title">John Doe</p>
          <p class="profile-subtitle">johndoe@example.com</p>
        </div>
        <a href="../logout.php" class="logout-btn btn-primary-soft btn">Log out</a>
      </div>
      <nav class="menu-nav">
        <ul>
          <li class="menu-row menu-active">
            <a href="/ClientDashboard"><span class="menu-icon menu-icon-home"></span>Home</a>
          </li>
          <li class="menu-row">
            <a href="doctors.php"><span class="menu-icon menu-icon-doctor"></span>All Doctors</a>
          </li>
          <li class="menu-row">
            <a href="schedule.php"><span class="menu-icon menu-icon-session"></span>Scheduled Sessions</a>
          </li>
          <li class="menu-row">
            <a href="/ClientBookings"><span class="menu-icon menu-icon-appoinment"></span>My Bookings</a>
          </li>
          <li class="menu-row">
            <a href="/ClientSettings"><span class="menu-icon menu-icon-settings"></span>Settings</a>
          </li>
        </ul>
      </nav>
    </aside>
