<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fixed CSS paths for Express -->
    <link rel="stylesheet" href="/css/animation.css">  
    <link rel="stylesheet" href="/css/main.css">  
    <title>eDoc</title>

    <style>
        table {
            animation: transitionIn-Y-bottom 0.5s;
        }
    </style>
</head>

<body>
    <div class="full-height">
        <center>
            <table border="0">
                <tr>
                    <td width="80%">
                        <span class="edoc-logo">eDoc.</span>
                        <span class="edoc-logo-sub">| THE ECHANNELING PROJECT</span>
                    </td>

                    <td width="10%">
                        <a href="/login" class="non-style-link">
                            <p class="nav-item">LOGIN</p>
                        </a>
                    </td>

                    <td width="10%">
                        <a href="/signup" class="non-style-link">
                            <p class="nav-item" style="padding-right: 10px;">REGISTER</p>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <p class="heading-text">Avoid Hassles & Delays.</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <p class="sub-text2">
                            How is health today? Sounds like not good!<br>
                            Don't worry. Find your doctor online & book as you wish with eDoc. <br>
                            We offer you a free doctor channeling service, make your appointment now.
                        </p>
                    </td>
                </tr>

                <tr>
                    <td colspan="3">
                        <center>
                           <a href="/login"><button class="login-btn btn-primary">Make Appointment</button></a>
                        </center>
                    </td>
                </tr>
            </table>

            <p class="sub-text2 footer-hashen">A Web Solution by Hashen.</p>
        </center>
    </div>
</body>
</html>
